.workout_session {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0 50px 0;
  gap: 75px;
}
.workout_session .wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.workout_session h1 {
  font-size: 3rem;
  color: #242424;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 10px 0px;
}
.dark .workout_session h1{
  color: #ffffff;
}
.workout_session .wrapper h2 {
  font-size: 1.8rem;
  color: #000000;
}
.dark .workout_session .wrapper h2 {
  font-size: 1.8 rem;
  color: whitesmoke;
}
.workout_session .wrapper h4 {
  font-size: 1.4rem;
  color: #212121;
}
.dark .workout_session .wrapper h4 {
  font-size: 1.4rem;
  color: whitesmoke;
}
.workout_session .wrapper h5 {
  font-size: 1.4rem;
  color: #212121;
  padding: 0px 0px 60px 0px;
}
.dark .workout_session .wrapper h5 {
  font-size: 1.4rem;
  color: whitesmoke;
  padding: 0px 0px 60px 0px;
}
.workout_session .wrapper p {
  font-size: 1.4rem;
  color: #212121;
}
.dark .workout_session .wrapper p {
  font-size: 1.4rem;
  color: whitesmoke;
}
.workout_session .wrapper .bootcamps-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.bootcamps-container img{
  max-width: 90%;
  padding: 0px 20px 0px 0px;
}
.workout_session .wrapper .bootcamps {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.workout_session .wrapper .bootcamps div {
  border-radius: 5px;
  padding: 20px 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.workout_session .wrapper .bootcamps div:hover {
  background: #242424;
  transition: 0.3s;
}
.dark .workout_session .wrapper .bootcamps div:hover {
  background: #ffffff;
  transition: 0.3s;
}
.workout_session .wrapper .bootcamps div:hover h4 {
  color: #0095ff;
  transition: 0.3s;
}
.workout_session .wrapper .bootcamps div:hover p {
  color: whitesmoke;
  transition: 0.3s;
}
.dark .workout_session .wrapper .bootcamps div:hover p {
  color: black;
  transition: 0.3s;
}
@media (max-width: 1520px) {
  .workout_session {
    min-width: 100%;
    padding: 50px 20px 50px 20px;
    gap: 25px;
  }
}
@media (max-width: 1200px) {
  .workout_session {
    flex-direction: column;
  }
  .workout_session .wrapper h1 {
    font-size: 1.6rem;
  }
  .workout_session .wrapper p {
    font-size: 20px;
  }
  .workout_session .wrapper .bootcamps div h4 {
    font-size: 20px;
  }
  .workout_session .wrapper .bootcamps div p {
    font-size: 20px;
  }
}