.order-confirmation {
    text-align: center;
    padding: 50px;
  }
  
  .order-confirmation h1 {
    font-size: 2.5rem;
    color: #004ab0;
  }
  
  .order-confirmation p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .order-confirmation button {
    background-color: #3a8a4b;
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  
  .order-confirmation button:hover {
    background-color: #58c774;
  }