.hero {
  min-height: 100vh;
  position: relative;
  background: url(/landscape_img.webp) rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 150px 80px 70px 80px;
}
.hero .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero .content .title {
  color: whitesmoke;
  font-size: 4rem;
}
.hero .content .sub-title p {
  font-weight: 400;
  color: whitesmoke;
  font-size: 1.8rem;
  line-height: 45px;
}
.hero .content .sub-title p:last-child {
  color: #0095ff;
}
.hero .content .buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}
.hero .content .buttons button {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #0095ff;
  border: 1px solid #0095ff;
  background: transparent;
  transition: 0.3s;
}
.hero .content .buttons button:hover {
  cursor: pointer;
  background: #0095ff;
  color: whitesmoke;
  transition: 0.3s;
}
.hero .content .information{
  font-weight: 300;
  color: whitesmoke;
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero .content .page-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.hero .content .page-links .img-item {
  position: relative;
}
.hero .content .page-links .img-item img {
  width: 100%;
  height: 100%;
  display: block;
}
.button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  font-weight: 300;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-overlay:hover {
  background-color: #0095ff;
}
.content hr{
    height: 2px;
    width: 50%;
    background-color: #e2e2e2;
    border: none;
    margin: 30px auto;
}
@media (max-width: 1050px) {
  header {
    margin-left: 2.5rem;
  }
  .hero {
    background-position: center;
  }
  .hero .content .title {
    font-size: 2.75rem;
  }
  .hero .content .sub-title p {
    font-size: 1.3rem;
    line-height: normal;
    margin-bottom: 5px;
  }
  .hero .information p{
    font-size: 1.3rem;
    line-height: normal;
    margin-bottom: 5px;
  }
}
@media (max-width: 880px) {
  .hero {
    background-position: center;
  }
  .hero .content .title {
    font-size: 2.45rem;
  }
  .hero .content .sub-title p {
    font-size: 1.2rem;
  }
  .hero .information p{
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .hero {
    background-position: center;
  }
  .hero .content .title {
    font-size: 2.2rem;
  }
  .hero .content .sub-title p {
    font-size: 1rem;
  }
  .hero .content .buttons button {
    font-size: 1rem;
  }
  .hero .information p{
    font-size: 1.2rem;
  }
  .hero .content .page-links{
    flex-direction: column;
  }
  .button-overlay{
    font-size: 2.5rem;
  }
}
@media (max-width: 412px) {
  header {
    margin-left: 2rem;
  }
  .hero {
    background-position: center;
  }
  .hero .content .buttons {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}