.sign-in-container {
    min-height: 80vh;
    position: relative;
    background: url(/account_img.webp) rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in-form {
  background: whitesmoke;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.sign-in-form h1 {
  font-size: 2.2rem;
  color: #242424;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 10px 10px;
  margin-bottom: 50px;
}
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.sign-in-button {
  width: 50%;
  padding: 10px;
  background: #0095ff;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top:20px;
  transition: background 0.3s ease;
}
.sign-in-button:hover {
  background: #0267af;
}

.sign-up-link {
  margin-top: 20px;
  color: #555;
}

.sign-up-link a {
  color: #1b81ca;
  text-decoration: none;
}

.sign-up-link a:hover {
  text-decoration: underline;
}