.workout_session {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 0 0 50px 0;
}
.header-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
}
.header-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  margin: 0;
  font-size: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}
.workout_session hr{
  height: 2px;
  width: 50%;
  background-color: #e2e2e2;
  border: none;
  margin: 30px auto;
}
@media (max-width: 1520px) {
  .workout_session {
    min-width: 100%;
    gap: 25px;
  }
}
@media (max-width: 1050px) {
  .burger-icon {
    display: flex;
  }
}
@media (max-width: 880px) {
  .burger-icon {
    width: 35px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .header-container img {
    min-width: 100%;
    height: 400px;
    gap: 25px;
  }
}
@media (max-width: 412px) {
  .header-container img {
    min-width: 100%;
    height: 400px;
    gap: 25px;
  }
}