.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 0 50px 0;
}
.gallery h1 {
  font-size: 3rem;
  color: #242424;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 10px 0px;
}
.dark .gallery h1{
  color: #ffffff;
}
.gallery .images {
  display: flex;
  gap: 15px;
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  padding: 30px 0px;
}
.gallery .images div {
  flex: 1;
}
.gallery .images img {
  width: 100%;
  height: auto;
}
@media (max-width: 1520px) {
  .gallery {
    padding: 50px 20px 50px 20px;
  }
  .gallery .images {
    min-width: 100%;
    gap: 25px;
  }
}
@media (max-width: 1200px) {
  .gallery h1 {
    font-size: 1.6rem;
  }
}